body{
    background-color: #4B352A;
    text-align: center;
}
#flag{
    height: 600px;
    width: 900px;
    border: 1px solid white;
    background-color: black;
    position: relative;
}
#red{
    height: 200px;
    width: 900px;
    border: 1px 1px solid red; 
    background-color: red;
    padding-bottom: 50px;
    position: absolute;
    top: 200px;    
}
#white{
    height: 200px;
    width: 900px;
    border: 1px 1px solid red;
    background-color: white;
    position: absolute;
    top: 400px;
}
.heading{
    text-align: left;
    margin-left: 300px;
    margin-top: -15px;
    margin-bottom: -10px;
}
